@tailwind base;
@tailwind components;
@tailwind utilities;
 

html,
body {
  background-image: url("../public/BG.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #F8F7F7 

}


